#dice-container {
    width: 
}

.die-saved {
    background-color: orange!important;
}

.die-button {
    height: 45px;
    width: 45px;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px
}

.die-dot {
    height: 8px;
    width: 8px;
    border-radius: 4px;
    background-color: black;
}